@model Blog.Services.ViewModels.Users.UsersViewModel

@{
    var a = User.IsInRole("Admin");
    var b = User.IsInRole("User");
}    
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Список пользователей</h1>
                    <p class="lead text-muted"></p>
                    <p>
                        <a asp-controller="User" asp-action="CreateUser" class="btn btn-primary my-2">Создать Пользователя</a>
                        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var user in Model.Users)
                {
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                                <div class="card-body">
                                    <p class="card-text">@user.Name</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a method="get" asp-controller="User" asp-action="GetUser" asp-route-id="@user.Id" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                            <a asp-controller="User" asp-action="EditUserAdminMode" asp-route-id="@user.Id"> <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                                                <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id"> <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                }
                </div>
            </div>
        </div>
